.item {
	border-top: 2px solid #1e88e5;
	height: 280px;
}

.item-header {
	padding: 25px
}

.item-stars {
  display: table;
  margin: 0 auto;
}

.item-header-title {
	font-size: 20px
}

.item-header-lower {
	padding-top: 15px
}

.item-summary {
	padding: 20px 15px
}

.item-body {
	padding-top: 20px
	padding-bottom: 20px
}

.item-score-label {
	padding-left: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: bold;
}
