<template name='item'>
  <div class="card hoverable item">
  	<div class="row">
  		<div class="item-header">
  			<div class="col s12 center-align">
	  			<div class='logo'>
	        	<a href={{pathForCompany}}><img src="{{company.logo}}" class="responsive-img"></a>
	        </div>
	  		</div>
	  		<div class="col s12">
    			<div class="item-header-lower item-stars">
    				<div class="left">
      				{{> starsRating rating=company.rating class='item-star' size=20}}
    				</div>
      			<div class="left">
              <div class="item-score-label">
	      			  {{company.rating}}
              </div>
    				</div>
    			</div>
	  		</div>
        <div class="col s12 center-align">
          <p>社員口コミ：{{reviewCount}}</p>
          <p>社員体験：{{reportCount}}</p>
        </div>
  		</div>
  	</div>
  </div>
</template>