<template name='profile'>
  <div class="card hoverable profile">
    <div class="row">
      <div class="profile-header">
        <div class="col l2 m6 s12 center-align">
          <div class='logo'>
            <img src="{{company.logo}}" class="responsive-img">
          </div>
        </div>
        <div class="col l4 m6 s12">
          <div class="profile-header-right"> 
            <div class='profile-header-title'><a href={{pathForCompany}}>{{company.name}}</a></div>
            <div class="profile-header-lower">
              <div class="left">
                {{> starsRating rating=company.rating class='profile-star' size=20}}
              </div>
              <div class="left profile-score-label">
                {{company.rating}}
              </div>
            </div>
          </div>  
        </div>
        <div class="col l6 s12 row">
          <div class="col l6">
            {{> progress id=progressOvertime name='残業時間（月間）' value=company.overTime unit='h'}}
          </div>
          <div class="col l6">
            {{> progress id=progressVacation name='有給休暇消化率 ' value=company.paidVacation unit='%'}}
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="profile-body">
        <div class="col l6 s12">
          {{> radar id=radarId radarData=company.radar}}
        </div>
        <div class="col l6 s12">
          <img class="responsive-img" src="{{company.wordcloud}}">
        </div>
        <div class="col l10 offset-l1 profile-summary">
          <h5>要約</h5>
          {{#each rank in company.lexRanks}}
            <div class="card blue darken-1">
              <div class="card-content white-text">
                <p>{{rank}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>